.button {
	display: flex;
	align-items: center;
	font-family: inherit;
	max-width: 135px;
	padding: 5px;
	border: 1px solid rgba(255, 255, 255, 0.03);
	border-radius: 6px;
	cursor: pointer;
	transition: background 0.25s;
}

.button:hover {
	background: rgba(255, 255, 255, 0.10);
}
