@import '/src/variables/vars.css';
.body{
	width: 810px;
	margin: 0px auto;
	text-align: center;
	transform: translateX(calc(var(--sidebar-width) / 2));
	/* padding-left: calc(var(--sidebar-width) / 2); */
	transition: all .3s ease;
}
.collapse{
	padding: 0px;
	transform: translateX(0);
}